doctype html
|<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
|<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
|<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->

include ../modules/head/head
include ../modules/navbar/navbar
include ../modules/footer/footer
include ../modules/modal/modal

head
    +head(head.main)
body.page
  .container-fluid
    .row
      +navbar('Главная')
    .page-wrapper.container
      +modal()
      .row
        h2.text-center Сезон 2015. Весенняя серия
        .col-xs-12.col-md-7.center-block.block-info-primary
          img(src='/%=staticPrefix=%img/general/clocks.svg')
          h3 Следующая игра 
          h3
            a(href='#', data-toggle='modal', data-target='#myModal')
             span.label.label-danger.game-date 22 мая в 17:00

      h2.text-center
        img.img-news(src='/%=staticPrefix=%img/general/rss.svg')
        |Новости
      .row
        .block-info
          h4.text-center 
            | Анонс
          hr
          //- img.img-responsive.img-rounded.center-block(src='http://cs627519.vk.me/v627519228/894/VhxssJhvQJk.jpg')
          p.news-text
            | Друзья! Наконец, 22 мая, состоится третья заключительная игра весенней серии "Что? Где? Когда?" В СибАДИ !!! Вас ждет много новых вопросов, а главное, призы ! Поспешите зарегистрироваться.
          p.text-right
            span.label.label-default.news-date21 19/05/2015 16:57
      .row
        .block-info
          h4.text-center 
            | Результаты игры от 17.05.2015
          hr
          //- img.img-responsive.img-rounded.center-block(src='http://cs627519.vk.me/v627519228/894/VhxssJhvQJk.jpg')
          p.news-text
            | Спасибо за игру!
            | Результаты игры уже 
            a(href='game.hmtl') здесь. 
          p.text-right
            span.label.label-default.news-date21 17/04/2015 19:04
    .buffer
  .page-footer
    +footer()