mixin footer(data)
    footer.footer

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')