// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.text-uppercase {
  text-transform: uppercase;
}
.text-normal-weight {
  font-weight: normal;
}

.block-info {
  .alert;
  .alert-info;
  margin-bottom: 45px;
  h1,h2,h3,h4,h5,h6 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  p {
    text-align: justify;
  }
}

.block-info-primary {
  .alert;
  padding: 15px;
  background-color: @sun-flower;
  color: @clouds;
  cursor: default;
  .text-uppercase;
  .text-center;
  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}