doctype html
|<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
|<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
|<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->

include ../../modules/head/head
include ../../modules/navbar/navbar
include ../../modules/footer/footer

head
    +head(head.archive)
body.page
  .container-fluid
    .row
      +navbar('Архив вопросов')
    .page-wrapper.container

      h2.text-center 
        img.img-play(src='/%=staticPrefix=%img/general/key.svg')
        |Пакет вопросов от 15.05.2015
      .row
        .block-info
          .table-responsive
            table.table.table-condensed.table-striped.table
              thead
                tr
                  th 
                  th
                    h5.text-center Текст
                  th
                    h5.text-center Ответ
              tbody
                - for (var i = 1; i < 16; ++i) {
                  tr
                    td
                      h6.text-center=i
                    td
                      h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed consequuntur iure nemo voluptas inventore ipsa enim. Laudantium nostrum eius aliquam voluptatem sit voluptate consequuntur minus, dolorem
                    td.text-center
                      -var collapseId = 'collapseExample'+ i
                      -var collapseRef = '#collapseExample'+ i
                      button.btn.btn-hg.btn-warning(tupe='button', data-toggle="collapse", data-target=collapseRef, aria-expanded="false", aria-controls=collapseId)
                        Показать
                      .collapse(id=collapseId)
                        h6 Lorem ipsum.
                - }
    .buffer
  .page-footer
    +footer()